# IDE
.vscode/
.code-workspace

# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Images (можно убрать, если хотите сохранить картинки в репозитории)
*.png
*.jpg

# OS garbage
.DS_Store
Thumbs.db.venv/
